/* .leftTag {
  max-width: 548px;
} */

.leftTag {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(127px, 1fr));
  gap: 1rem 0;
  grid-auto-flow: row;
  /* grid-template-areas:
    '. . . . .'
    '. . . . .'; */
  /* border-top: solid var(--color-blue-light) 2px; */

  max-width: 548px;

  padding-top: 1rem;
}

@media only screen and (max-width: 500px) {
  .leftTag {
    grid-template-areas:
      '. . . '
      '. . . . .';
  }
}

.leftTag__input {
  gap: 11px;
  font-size: var(--font-size-14);
  display: flex;
  align-items: center;
  max-width: 548px;
}

.leftTag__input input:checked + .leftTag__inputR:before {
  background: url('../img/tick.gif') center/12px no-repeat;
}

.leftTag__input input:focus + .leftTag__inputR {
  outline: dashed 2px var(--color-blue-light);

  outline-offset: 4px;
}

.leftTag__inputR::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-blue-medium);
  border-radius: 3px;
  margin-right: 8px;
}

.input__custom {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

label {
  user-select: none;
}
