.main {
  border-top: solid 2px var(--color-blue-dark);
  padding-top: 2.25rem;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  display: grid;
  gap: 2rem 1rem;
  margin-bottom: 3rem;
  justify-items: center;
}
